/* 水平居中 */
.com-margin-center {
  margin: 0 auto;
}
/* 绝对定位水平居中 */
.com-absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 绝对定位垂直居中 */
.com-absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* 绝对定位水平垂直居中 */
.com-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 禁止用户选中 */
.com-user-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 溢出隐藏 */
.com-overflow-hidden {
  overflow: hidden;
}
/* 默认鼠标样式 */
.com-mouse-default {
  cursor: default;
}
/* 手形鼠标 */
.com-mouse-point {
  cursor: pointer;
}
/* 强制显示竖向滚动条 */
.com-overflow-scroll {
  overflow: scroll;
  overflow-x: hidden;
}
/* 左浮动 */
.com-float-left {
  float: left;
}
/* 右浮动 */
.com-float-right {
  float: right;
}
/* 清除浮动 */
.com-clearfix {
  *zoom: 1;
  &::after {
    clear: both;
  }
  &::before,
  &::after {
    content: "";
    display: table;
  }
}
