@import '_tools';

/* 水平居中 */
@include b(margin-center) {
  margin: 0 auto;
}

%absolute {
  position: absolute;
}
/* 绝对定位 */
@include b(absolute) {
  @extend %absolute;
  /* 绝对定位水平垂直居中 */
  @include m(center) {
    @extend %absolute;
    @include setSameValue((top left), 50%);
    @include wb(transform, translate(-50%, -50%));
    /* 绝对定位水平居中 */
    @include m(x) {
      @extend %absolute;
      left: 50%;
      @include wb(transform, translateX(-50%));
    }
    /* 绝对定位垂直居中 */
    @include m(y) {
      @extend %absolute;
      top: 50%;
      @include wb(transform, translateY(-50%));
    }
  }
}

/* 禁止用户选中 */
@include b(user-none) {
  @include wb(user-select, none, true);
}

/* 鼠标样式 */
@include b(mouse) {
  /* 默认鼠标样式 */
  @include m(default) {
    cursor: default;
  }
  /* 手形鼠标 */
  @include m(point) {
    cursor: pointer;
  }
}

@include b(overflow) {
  /* 溢出隐藏 */
  @include m(hidden) {
    overflow: hidden;
  }
  /* 强制显示竖向滚动条 */
  @include m(scroll) {
    overflow: scroll;
    overflow-x: hidden;
  }
}

@include b(float) {
  /* 左浮动 */
  @include m(left) {
    float: left;
  }
  /* 右浮动 */
  @include m(right) {
    float: right;
  }
}

/* 清除浮动 */
@include b(clearfix) {
  *zoom: 1;
  &::after {
    clear: both;
  }
  &::before,
  &::after {
    content: '';
    display: table;
  }
}

/* 容器宽高等同屏幕大小 */
@include b(w-h-100) {
  width: 100vw;
  height: 100vh;
}

/* 转为行级块 */
@include b(display-ib) {
  display: inline-block;
}

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
%flex-co {
  @include setSameValue(
    (-webkit-box-pack, -ms-flex-pack, justify-content),
    center
  );
}
/* flex布局 */
@include b(flex) {
  @extend %flex;
  /* flex布局主轴子元素居中 */
  @include m(main-center) {
    @extend %flex;
    @extend %flex-co;
  }
  /* flex布局子元素水平垂直居中 */
  @include m(center) {
    @extend %flex;
    @extend %flex-co;
    @include setSameValue(
      (
        -webkit-box-align,
        -ms-flex-align,
        -ms-flex-line-pack,
        align-items,
        align-content
      ),
      center
    );
  }
}
